name: Take snapshot of twitter

on:
  schedule:
    # checking hourly
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  take-snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: master

      - name: Use node_modules cache
        uses: actions/cache@v2
        id: yarn-cache
        with:
          path: |
            node_modules
          key: yarn-${{ hashFiles('package.json') }}-${{ hashFiles('yarn.lock') }}

      - name: Yarn install
        run: yarn install
        if: steps.yarn-cache.outputs.cache-hit != 'true'

      - name: Execute Fetcher
        run: |
          yarn fetch:twitter

      - name: Git Diff
        id: git-diff
        if: success()
        run: |
          echo "GIT_DIFF<<EOF" >> $GITHUB_ENV
          git diff | head -n 200 >> $GITHUB_ENV
          echo 'EOF' >> $GITHUB_ENV

      - name: Commit changes
        if: ${{ env.GIT_DIFF != '' }}
        run: |
          git add .
          git config --local user.email "bot@mask.io"
          git config --local user.name "commit bot"
          git commit -m "`date '+twitter: snapshot at %Y-%m-%d %H:%M'`"
          git push origin master
